{% extends 'myapp/Dashboard.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title }Student List{% endblock }
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<script src="{% static 'js/jquery.js'  %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>


{% block body %}
<style>
    a,th,td,tr,h4,h6,button{
        font-family: consols;
    }
</style>
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            {% for msg in messages %}
                    {% if msg.tags == "warning" %}
                        <div class="alert alert-warning" id="warning-alert">
                            <button type="button" class="close" data-dismiss="alert">x</button>
                            <strong>Warning!</strong>
                            {{ msg }}
                        </div>
                    {% elif msg.tags == "success" %}
                        <div class="alert alert-success" id="success-alert">
                            <button type="button" class="close" data-dismiss="alert">x</button>
                            <strong>Success!</strong>
                            {{ msg }}
                        </div>
                    {% endif %}
            {% endfor %}
            {% if perms.app.view_student %}
            <h4 class="text-info">All Student List</h4>
            <table class="table table-bordered">
                <thead>
                    <tr class="text-center" style="background-color: rgb(245, 188, 66);">
                        <th>Edit</th>
                        <th>Delete</th>
                        <th>Id</th>
                        <th>Name</th>
                        <th>College</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in student %}
                    <tr class="text-center" style="background-color: rgb(66, 179, 245);" >
                        <td>
                        {% if perms.app.change_student %}
                            <a href="#" class="btn btn-success btn-sm">Edit</a></td>
                        {% else %}
                            <h6 class="text-danger">No Edit Permission</h6>
                        {% endif %}
                        <td>
                        {% if perms.app.delete_student %}
                            <a href="#" class="btn btn-danger btn-sm">Delete</a>
                        {% else %}
                            <h6 class="text-danger">No Delete Permission</h6>
                        {% endif %}
                        </td>
                        <td>{{ i.stu_id }}</td>
                        <td>{{ i.stu_name }}</td>
                        <td>{{ i.stu_college  }}</td>                       
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else  %}
            <h4 class="text-danger">No Permission</h4>
        {% endif %}
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% endblock %}